.si-buttons-scifi__style-7__button-1 {
    /* == BUTTON SETTINGS == */
    --font-family: Jura, monospace;
    --font-size: 16px;
    --color: var(--theme-text);
    --background-color: var(--theme-bg-darker);
    --border-color: var(--theme-primary);
    --border-offset: -5px;
    --border-width: 12px;
}

.si-buttons-scifi__style-7__button-1 {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color) !important;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    vertical-align: middle;
    appearance: none;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    word-spacing: 3px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: 0.3s;
    line-height: initial;
    min-height: 30px;
    min-width: 70px;
    white-space: nowrap;
    z-index: 1;
    user-select: none;
    outline: 0;
    padding: 15px 30px;
    background-color: transparent;
}

.si-buttons-scifi__style-7__button-1:after,
.si-buttons-scifi__style-7__button-1:before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--background-color);
    z-index: -1;
    box-shadow: inset 0 0 25px -10px var(--border-color);
}

.si-buttons-scifi__style-7__button-1:before {
    inset: 0;
    background: var(--border-color);
}

.si-buttons-scifi__style-7__button-1 helper-1:before,
.si-buttons-scifi__style-7__button-1 helper-1:after,
.si-buttons-scifi__style-7__button-1 helper-2:before,
.si-buttons-scifi__style-7__button-1 helper-2:after {
    content: '';
    inset: 0;
    position: absolute;
    height: var(--border-width);
    width: var(--border-width);
    background: transparent;
    border: 1px solid var(--border-color);
    opacity: 0.7;
    transition: 0.3s;
    box-sizing: border-box;
}


.si-buttons-scifi__style-7__button-1 helper-1:before {
    inset: var(--border-offset) auto auto var(--border-offset);
    border-width: 1px 0 0 1px;
}

.si-buttons-scifi__style-7__button-1 helper-1:after {
    inset: var(--border-offset) var(--border-offset) auto auto;
    border-width: 1px 1px 0 0;
}

.si-buttons-scifi__style-7__button-1 helper-2:before {
    inset: auto auto var(--border-offset) var(--border-offset);
    border-width: 0 0 1px 1px;
}

.si-buttons-scifi__style-7__button-1 helper-2:after {
    inset: auto var(--border-offset) var(--border-offset) auto;
    border-width: 0 1px 1px 0;
}

[class*='si-buttons-scifi'].disabled,
[class*='si-buttons-scifi']:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}


/* Ripple Animation */
[class*='si-buttons-scifi'] ripple {
    inset: 0;
    position: absolute;
    overflow: hidden;
    -webkit-clip-path: var(--button-shape);
    clip-path: var(--button-shape);
}

[class*='si-buttons-scifi'].disabled ripple,
[class*='si-buttons-scifi']:disabled ripple {
    display: none
}

[class*='si-buttons-scifi'] ripple:after {
    content: '';
    --ripple-gradient: rgb(255, 255, 255);
    position: absolute;
    inset: 0 auto 0 -200%;
    width: 200%;
    transform: skewX(-20deg);
    opacity: 0.5;
    background-image: linear-gradient(to right, transparent, var(--ripple-gradient), transparent);
}

[mode*='light'] ripple:after {
    --ripple-gradient: var(--border-color);
}

[class*='si-buttons-scifi']:hover ripple:after {
    left: 200%;
    transition: 1.6s ease;
}

[class*='si-buttons-scifi'] ripple:before {
    content: '';
    --ripple-color: rgb(255, 255, 255);
    position: absolute;
    inset: 50%;
    transform: skewX(-10deg);
    border-radius: 100vh;
}

[mode*='light'] ripple:before {
    --ripple-color: var(--border-color);
}

[class*='si-buttons-scifi']:focus ripple:before {
    animation: ripple-animation 0.7s ease-in-out forwards;
}

[class*='si-buttons-scifi']:active ripple:before {
    animation: unset;
}

@keyframes ripple-animation {
    0% {
        box-shadow: 0 0 0 0 var(--ripple-color);
        opacity: 0.6
    }

    100% {
        box-shadow: 0 0 0 150px var(--ripple-color);
        opacity: 0
    }
}